#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 64px repeat(3, 100px) 64px;
    gap: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto;
    background-color: #ffe4c4;
}

header {
    grid-row: 1;
    grid-column: 1/5;
    background-color: aquamarine; 
}

footer {
    grid-row: 5;
    grid-column: 1/5;
    background-color: darkgreen;
}

#sidebar {
    grid-row: 2/5;
    grid-column: 4;
    background-color: forestgreen;
}

article {
    background-color: darkslategrey;
}

article:hover {
    background-color: yellow;
}